@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
.small-text {
  font-size: 14px;
  line-height: 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  background-color: #ffffff;
}
.main-header__nav-toggle {
  width: 36px;
  height: 44px;
  border: none;
  background-image: url("/img/menu-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
.main-header__nav-list {
  display: none;
}
.main-header__logo {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 69px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 17px;
  padding-right: 20px;
  padding-left: 20px;
}
.main-header__logo-icon {
  display: inline-block;
}
.main-header__logo-text {
  display: inline-block;
}
.nav-position {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.header-position {
  display: flex;
  flex-wrap: wrap;
}
.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.page__body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}
.features__wrapper {
  padding: 20px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.features__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}
.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.features__items {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.features__items-icon {
  fill: #ffffff;
}
.features__icon-wrapper {
  width: 60px;
  height: 60px;
  background-color: #68B738;
}
.partnership__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;
}
.partnership__lead {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
.partnership__address {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444444;
}
.copyright__link {
  text-decoration: none;
  color: #000000;
}
.copyright__text {
  font-weight: 400;
  font-style: normal;
}
.social {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.social__link {
  text-decoration: none;
  color: #000000;
}
.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}
.main-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
}
.main-footer__social {
  padding: 20px 74px 21px 74px;
}
.main-footer__logo-wrapper {
  padding: 39px 76px 32px 76px;
}
.main-footer__logo-link {
  display: block;
}
.programs__wrapper {
  width: 280px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}
.programs__text {
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding-bottom: 23px;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.programs__button {
  text-align: start;
  display: block;
  padding-top: 15px;
  padding-bottom: 18px;
}
.example__wrapper {
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;
}
.example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}
.example__results-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}
.example__results-number {
  text-align: center;
}
.example__results-description {
  text-align: center;
  margin: 0;
}
.example__text {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.example__total-sum {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.example__range-text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.catalog__wrapper {
  padding: 20px;
  border-top: 1px solid #d9d9d9;
}
.catalog__title {
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}
.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.product-card__content-wrapper {
  display: flex;
}
.product-card__link {
  text-decoration: none;
  color: #000000;
}
.product-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}
.product-card__info-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}
.product-card__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
.product-card__stats {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
.product-card__wrapper {
  padding-bottom: 19px;
}
.pagination__wrapper {
  padding-top: 36px;
}
.pagination__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.pagination__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  text-align: center;
}
.pagination__show-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.pagination__button-wrapper {
  display: flex;
}
.pagination__show-all {
  flex-grow: 1;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.additional-card__title-main {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.additional-card__title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.additional-card__info-wrapper {
  display: flex;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  justify-content: space-between;
}
.additional-card__wrapper {
  margin-bottom: 35px;
}
.additional-items__wrapper {
  padding: 25px 20px 0 20px;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/img/cat-mobile.jpg");
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-left: 36px;
  padding-right: 35px;
}
.promo__pick-program {
  width: 280px;
}
.promo__title {
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
}
.promo__subtitle {
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}
.button-green {
  background-color: #68B738;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  border: none;
}
.button-open-catalog {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
}
.special-offer__wrapper {
  background-image: url("/img/cat-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 99px;
  padding-bottom: 99px;
}
.special-offer__title {
  margin: 0;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
.program-pick__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}
.program-pick__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.program-pick__wrapper {
  padding: 27px 20px 32px 20px;
  border-top: 1px solid #d9d9d9;
}
.program-pick__submit-wrapper {
  display: flex;
  margin-top: 34px;
  margin-bottom: 21px;
}
.program-pick__submit-button {
  flex-grow: 1;
}
.program-pick__required-field {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.form__group {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.form__caption-text {
  padding-right: 13px;
}
::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.field {
  border: 1px solid #e7e7e7;
  height: 45px;
}
.form-radio {
  border: none;
  padding: 0;
  margin: 0;
}
.form-radio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.form-radio__input-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
.contacts-form__caption-text {
  padding-right: 8px;
}
.contacts-form__contacts-title {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
}
.note-form__field {
  height: 150px;
}
.note-form__note-title {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
}
.checkbox-form {
  padding: 0;
  margin: 0;
  border: none;
}
.checkbox-form__title {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
}
.checkbox-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}
.checkbox-form__input-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
/*# sourceMappingURL=style.css.map */
