.button-order {
  .special-offer-paragraph;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  .text-color-promo;
  padding-top: 10px;
  padding-bottom: 10px;
  .link-decoration;
  border: none;
  color: @white;
  background-color: @green;
  flex-grow: 1;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    .catalog-card-font-desktop;
    width: 168px;
    margin-bottom: 40px;
    flex-grow: 0;
  }
}
