.pagination__wrapper {
  padding-top: 36px;
}

.pagination__title {
  .main-subtitles;
  .titles-weight;
  text-align: center;
}

.pagination__text {
  .paragraph-font;
  color: @lightblack;
  text-align: center;
}

.pagination__show-text {
  .main-subtitles;
  .font-main;
}

.pagination__button-wrapper {
  display: flex;
}

.pagination__show-all {
  flex-grow: 1;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
