.product-card__content-wrapper {
  display: flex;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.product-card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    height: 200px;
    width: 168px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    height: 200px;
    width: 172px;
  }
}

.product-card__br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.product-card__text-wrapper {
  flex-grow: 1;

  @media (min-width: @desktop-width) {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.product-card__link {
  .link-style;
  display: flex;
  align-items: center;


  @media (min-width: @tablet-width) {
    .order-button-tablet;
  }
}

.product-card__title {
  .main-subtitles;
  .titles-weight;
  color: @special-dark-gray;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    .catalog-font-product;
    text-align: center;
    margin-bottom: 13px;
    margin-top: 0;
    padding-top: 2px;
    width: 156px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-card__info {
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    // padding-left: 2px;
    // padding-right: 2px;
  }
}

.product-card__info-wrapper {
  display: grid;
  grid-template-columns: auto auto;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @special-grey;
  }
}

.product-card__description {
  .product-card-font;
  text-align: start;

  @media (min-width: @tablet-width) {
    .catalog-font-product;
    .font-button-white;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 7px;
  }
}

.product-card__stats {
  .product-card-font;
  text-align: end;

  @media (min-width: @tablet-width) {
    .catalog-font-product;
    .font-button-white;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 7px;
  }
}
