.example__wrapper {
  padding: 25px 20px 40px 20px;
  background-color: @lightgray;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  .titles-weight;
}

.example__results-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}

.example__results-number {
  text-align: center;
}

.example__results-description {
  text-align: center;
  margin: 0;
}

.example__text {
  .paragraph-style;
  .paragraph-font;
}

.example__total-sum {
  .example-text-font;
}

.example__range-text {
  .example-text-font;
}
