.main-header {
  .background-color;
}

.main-header__nav-wrapper {
  position: absolute;
  background-color: @white;
  width: 320px;
  top: 65px;
  left: 317px;
  padding: 13px 20px 24px 20px;
}

.main-header__nav-toggle {
  width: 36px;
  height: 44px;
  border: none;
  background-image: url("img/menu-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.main-header__nav-list {
  display: block;
}

.main-header__logo {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 69px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 17px;
  padding-right: 20px;
  padding-left: 20px;

  &-icon {
    display: inline-block;
  }

  &-text {
    display: inline-block;
  }
}
