.main-header {
  .background-color;
  margin: 0 auto;
}

.main-header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header__nav-wrapper {
  background-color: @white;
}

.main-header__nav-toggle {
  width: 36px;
  height: 44px;
  border: none;
  background-image: url("../img/menu-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  background-color: inherit;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__nav-list {
  display: block;
}

.main-header__logo {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 69px;
  align-items: center;

  &-icon {
    display: inline-block;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &-icon-tablet {
    display: none;

    @media (min-width: @tablet-width) {
      display: inline-block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &-icon-desktop {
    display: none;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: inline-block;
    }
  }

  &-text {
    display: inline-block;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
