.nav {
  @media (min-width: @desktop-width) {
    display: flex;
    align-items: flex-end;
  }
}

.nav__wrapper {
  position: absolute;
  width: 100%;
  top: 64px;
  left: 0;
  // left: calc(100% - 548px);


  @media (min-width: @tablet-width) {
    display: block;
    position: static;
    width: auto;
  }
}
