@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
.stats-number-font-tablet {
  font-size: 30px;
  line-height: 37px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  background-color: transparent;
  margin: 0 auto;
}
.main-header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main-header__nav-wrapper {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header__nav-wrapper {
    background-color: transparent;
  }
}
.main-header__nav-toggle {
  width: 50px;
  height: 50px;
  border: none;
  background-color: inherit;
}
@media (min-width: 768px) {
  .main-header__nav-toggle {
    display: none;
  }
}
.main-nav--closed {
  position: relative;
}
.main-nav--closed .main-header__nav-toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--closed .main-header__nav-toggle:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.4), 0 16px 0 0 rgba(0, 0, 0, 0.4);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--nojs .main-header__nav-toggle {
    display: none;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
}
.main-nav--opened .main-header__nav-toggle {
  top: 0;
  right: auto;
  left: 0;
  position: relative;
}
.main-nav--opened .main-header__nav-toggle::before,
.main-nav--opened .main-header__nav-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-header__nav-toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-header__nav-toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-header__nav-toggle:active::before,
.main-nav--opened .main-header__nav-toggle:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.main-header__nav-list {
  display: block;
}
.main-header__logo {
  text-decoration: none;
}
.main-header__logo-icon {
  display: block;
}
@media (min-width: 768px) {
  .main-header__logo-icon {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo-icon {
    width: 202px;
    height: 60px;
  }
}
.nav {
  margin-left: auto;
  position: relative;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .nav {
    display: flex;
    align-items: flex-end;
  }
}
.nav__wrapper {
  position: absolute;
  width: 322px;
  left: -251px;
  top: 65px;
}
@media (min-width: 768px) {
  .nav__wrapper {
    display: block;
    position: static;
    width: auto;
  }
}
@media (min-width: 1440px) {
  .nav__wrapper {
    display: block;
    position: static;
    max-width: 500px;
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 174px 440px;
    gap: 94px;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .header {
    width: 1440px;
    padding-left: 110px;
    padding-right: 109px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
  }
}
.header__logo {
  padding-top: 10px;
  padding-bottom: 17px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .header__logo {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .header__logo {
    padding-top: 53px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .site-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 35px;
  }
}
.site-list__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item {
    border: none;
  }
}
@media (min-width: 1440px) {
  .site-list__item {
    display: flex;
    align-items: flex-end;
    padding: 0;
    padding-bottom: 0;
    border: none;
  }
}
.site-list__item-link {
  padding-top: 22px;
  padding-bottom: 24px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  color: #000000;
}
.site-list__item-link:hover {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .site-list__item-link {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .site-list__item-link {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    line-height: 30px;
  }
}
.site-list__item--active {
  position: relative;
}
@media (min-width: 768px) {
  .site-list__item--active::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #68B738;
    top: 100%;
    left: 0;
  }
}
@media (min-width: 1440px) {
  .site-list--white .site-list__item-link {
    color: #ffffff;
  }
}
.site-list--white-active {
  position: relative;
}
@media (min-width: 1440px) {
  .site-list--white-active::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    top: 70px;
    left: 0;
    z-index: 2;
  }
}
.page__body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .page__body {
    width: auto;
    margin: 0 auto;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.features__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 49px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .features__wrapper {
    margin-bottom: 47px;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .features__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    gap: 32px;
  }
}
@media (min-width: 768px) {
  .features__br {
    display: none;
  }
}
.features__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .features__list {
    grid-template-columns: 1fr 1fr;
    gap: 37px 153px;
    counter-reset: section;
  }
}
@media (min-width: 1440px) {
  .features__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 94px;
  }
}
@media (min-width: 768px) {
  .features__items::before {
    counter-increment: section;
    content: counter(section) " ";
    color: #f2f2f2;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
    height: 280px;
    width: min-content;
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    right: 0;
  }
}
.features__items {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .features__items {
    font-size: 16px;
    line-height: 24px;
    position: relative;
  }
}
.features__items-icon {
  fill: #ffffff;
}
.features__items--easy {
  position: relative;
  background-image: url("../img/icon-tub.svg");
  background-position-x: 15px;
  background-position-y: 10px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .features__items--easy {
    background-position-x: 25px;
    background-position-y: 40px;
  }
}
@media (min-width: 1440px) {
  .features__items--easy {
    background-position-x: 25px;
    background-position-y: 60px;
  }
}
.features__items--easy::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  z-index: -1;
  top: 0;
}
@media (min-width: 768px) {
  .features__items--easy::after {
    width: 80px;
    height: 80px;
    top: 20px;
  }
}
@media (min-width: 1440px) {
  .features__items--easy::after {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.features__items--eat {
  position: relative;
  background-image: url("../img/icon-eat.svg");
  background-position-x: 15px;
  background-position-y: 10px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .features__items--eat {
    background-position-x: 25px;
    background-position-y: 40px;
  }
}
@media (min-width: 1440px) {
  .features__items--eat {
    background-position-x: 25px;
    background-position-y: 60px;
  }
}
.features__items--eat::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  z-index: -1;
  top: 0;
}
@media (min-width: 768px) {
  .features__items--eat::after {
    width: 80px;
    height: 80px;
    top: 20px;
  }
}
@media (min-width: 1440px) {
  .features__items--eat::after {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.features__items--fast {
  position: relative;
  background-image: url("../img/icon-alarm.svg");
  background-position-x: 15px;
  background-position-y: 10px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .features__items--fast {
    background-position-x: 25px;
    background-position-y: 40px;
  }
}
@media (min-width: 1440px) {
  .features__items--fast {
    background-position-x: 25px;
    background-position-y: 60px;
  }
}
.features__items--fast::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  z-index: -1;
  top: 0;
}
@media (min-width: 768px) {
  .features__items--fast::after {
    width: 80px;
    height: 80px;
    top: 20px;
  }
}
@media (min-width: 1440px) {
  .features__items--fast::after {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.features__items--healthy {
  position: relative;
  background-image: url("../img/icon-leaf.svg");
  background-position-x: 15px;
  background-position-y: 10px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .features__items--healthy {
    background-position-x: 25px;
    background-position-y: 40px;
  }
}
@media (min-width: 1440px) {
  .features__items--healthy {
    background-position-x: 25px;
    background-position-y: 60px;
  }
}
.features__items--healthy::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68B738;
  z-index: -1;
  top: 0;
}
@media (min-width: 768px) {
  .features__items--healthy::after {
    width: 80px;
    height: 80px;
    top: 20px;
  }
}
@media (min-width: 1440px) {
  .features__items--healthy::after {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.features__text {
  width: 200px;
  padding-left: 80px;
}
@media (min-width: 768px) {
  .features__text {
    padding-top: 151px;
    padding-bottom: 57px;
    padding-left: 0;
    width: auto;
  }
}
.partnership {
  position: relative;
  width: 100%;
}
.partnership--background {
  position: relative;
}
.partnership--background::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  top: 0;
  left: 0;
  z-index: -1;
}
.partnership__map-google {
  border: none;
  display: none;
}
@media (min-width: 768px) {
  .partnership__map-google {
    display: none;
  }
}
@media (min-width: 1440px) {
  .partnership__map-google {
    display: none;
  }
}
.partnership__wrapper {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 26px;
  margin: 0 auto;
  gap: 2;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .partnership__wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    padding: 56px 70px;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .partnership__wrapper {
    width: 565px;
    box-sizing: border-box;
    padding: 56px 80px;
    background-color: #ffffff;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
  }
}
.partnership__lead {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
@media (min-width: 768px) {
  .partnership__lead {
    font-size: 20px;
    line-height: 26px;
  }
}
.partnership__address-wrapper {
  display: grid;
  grid-template-columns: auto;
  justify-content: end;
}
.partnership__address {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .partnership__address {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}
.partnership__map {
  display: block;
}
@media (min-width: 768px) {
  .partnership__map {
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .partnership__map {
    width: 1440px;
    height: 400px;
  }
}
.partnership__images-wrapper {
  display: flex;
  justify-content: center;
}
.logo-footer {
  padding: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .logo-footer {
    padding: 0;
    margin-right: auto;
  }
}
.logo-footer__link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 12px;
}
.copyright {
  padding: 20px;
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
    margin-left: auto;
  }
}
.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .copyright__link {
    width: 163px;
  }
}
.copyright__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
}
.copyright__icon {
  fill: #000000;
  width: 100%;
}
.copyright__link:active .copyright__text {
  opacity: 0.3;
}
.copyright__link:hover .copyright__icon {
  fill: #68B738;
}
.copyright__link:active .copyright__icon {
  fill: #68B738;
  opacity: 0.3;
}
.social {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 20px;
}
@media (min-width: 768px) {
  .social {
    padding: 0;
    border: none;
  }
}
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.social__link {
  text-decoration: none;
}
.social__link:hover .social__icons {
  fill: #68B738;
}
.social__link:active .social__icons {
  opacity: 0.3;
}
.social__icons {
  fill: #666666;
}
.main-footer {
  background-color: #f2f2f2;
  width: 100%;
}
.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  color: #000000;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 100%;
    display: flex;
    padding-top: 58px;
    padding-bottom: 55px;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1440px;
    padding: 57px 110px 58px 110px;
  }
}
@media (min-width: 1440px) {
  .programs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
}
.programs__wrapper--diet {
  background-image: url("../img/cat-diet.svg");
  background-repeat: no-repeat;
  background-position-x: 22px;
  background-position-y: 21px;
}
@media (min-width: 768px) {
  .programs__wrapper--diet {
    background-size: 200px 211px;
    background-position-x: 446px;
    background-position-y: 81px;
  }
}
@media (min-width: 1440px) {
  .programs__wrapper--diet {
    background-size: 100px 106px;
    background-position-x: 41px;
    background-position-y: 52px;
  }
}
.programs__wrapper--mass {
  background-image: url("../img/cat-mass.svg");
  background-repeat: no-repeat;
  background-position-x: 13px;
  background-position-y: 41px;
}
@media (min-width: 768px) {
  .programs__wrapper--mass {
    background-size: 288px 200px;
    background-position-x: 412px;
    background-position-y: 91px;
  }
}
@media (min-width: 1440px) {
  .programs__wrapper--mass {
    background-size: 134px 100px;
    background-position-x: 33px;
    background-position-y: 47px;
  }
}
.programs__wrapper {
  margin: 0 auto;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
}
@media (min-width: 768px) {
  .programs__wrapper {
    margin-bottom: 30px;
    padding-top: 77px;
    padding-bottom: 53px;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .programs__wrapper {
    width: 100%;
  }
}
.programs__title {
  padding-top: 30px;
  font-size: 24px;
  line-height: 37px;
  padding-left: 71px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
@media (min-width: 768px) {
  .programs__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    padding-top: 0;
    padding-left: 0;
    width: 300px;
  }
}
@media (min-width: 1440px) {
  .programs__title {
    margin-left: 214px;
  }
}
.programs__text {
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding-bottom: 23px;
  padding-top: 22px;
  padding-right: 13px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .programs__text {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border: none;
    width: 340px;
    padding: 0;
    margin-bottom: 48px;
  }
}
.programs__button {
  text-align: start;
  display: block;
  padding-top: 19px;
  padding-bottom: 22px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  border: none;
}
@media (min-width: 768px) {
  .programs__button {
    font-size: 20px;
    line-height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.button-open-catalog {
  display: block;
  text-decoration: none;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: 24px 12px;
  background-position-x: 100%;
  background-position-y: 50%;
  width: 165px;
  padding-right: 47px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .button-open-catalog {
    background-position-x: 133px;
  }
}
.button-open-catalog:hover {
  background-size: 32px 12px;
}
.example {
  width: 100%;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 0 601px, #eaeaea 601px);
    border-top: 1px solid #e6e6e6;
    background-color: none;
  }
}
@media (min-width: 1440px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 0 136px, #eaeaea 136px);
    border: none;
    background-color: none;
  }
}
.example__sum {
  display: grid;
  justify-content: center;
  grid-template-columns: fit-content(100%) fit-content(100%);
  gap: 4px;
}
@media (min-width: 768px) {
  .example__sum {
    display: grid;
    grid-template-columns: fit-content(100%);
    gap: 0;
  }
}
@media (min-width: 1440px) {
  .example__sum {
    grid-template-columns: auto auto;
    gap: 63px;
  }
}
.example__wrapper {
  padding: 25px 20px 40px 20px;
  margin: 0 auto;
  width: 320px;
}
@media (min-width: 768px) {
  .example__wrapper {
    padding: 42px 0 0 0;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    width: 1440px;
    box-sizing: border-box;
    padding-left: 110px;
    padding-right: 110px;
    position: relative;
    padding-top: 0;
    display: grid;
    grid-template-columns: auto 560px;
  }
}
.example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin-bottom: 146px;
  }
}
.example__results-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 20px;
  margin-top: 0;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .example__results-list {
    gap: 42px;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .example__results-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
  }
}
@media (min-width: 1440px) {
  .example__results-wrapper {
    display: grid;
    grid-template-columns: auto;
    gap: 55px;
    margin-bottom: 75px;
  }
}
.example__results-number {
  text-align: center;
  background-image: url("../img/border.svg");
  background-size: 124px 56px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-top: 15px;
  padding-bottom: 18px;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .example__results-number {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 20px;
    width: 162px;
    padding-top: 16px;
    background-size: 162px 72px;
  }
}
@media (min-width: 768px) {
  .example__results {
    display: none;
  }
}
.example__results-description {
  text-align: center;
  margin: 0;
  margin-top: -10px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  color: #444444;
}
@media (min-width: 768px) {
  .example__results-description {
    font-size: 14px;
    line-height: 14px;
    color: #444444;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase;
    margin-top: -11px;
  }
}
.example__text {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
  padding-right: 36px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    padding-right: 32px;
  }
}
@media (min-width: 768px) {
  .example__text {
    width: 438px;
    padding-right: 0;
    margin-bottom: 69px;
  }
}
.example__total-sum {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .example__total-sum {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: end;
  }
}
.example__range-text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.example__range-wrapper {
  display: flex;
  justify-content: center;
}
.example__image-after {
  display: inline-block;
  width: 280px;
  height: 256px;
}
@media (min-width: 768px) {
  .example__image-after {
    width: 560px;
    height: 512px;
  }
}
.example__image-before {
  display: inline-block;
  width: 280px;
  height: 256px;
}
@media (min-width: 768px) {
  .example__image-before {
    width: 560px;
    height: 512px;
  }
}
.example__before-after {
  display: flex;
  justify-content: center;
}
.example__slider--before {
  left: 50%;
  top: 1px;
  width: 50%;
}
.example__slider--after {
  left: 50%;
  transform: translate(0, 0);
  top: 1px;
  width: 50%;
}
.slider__box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 256px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .slider__box {
    height: 512px;
  }
}
.example__slider .example__image-before {
  position: absolute;
  transform: translate(-50%, 0);
}
.example__slider .example__image-after {
  position: absolute;
  transform: translate(-50%, 0);
}
.example__slider--before .example__image-before {
  left: 100%;
  width: 280px;
  height: 256px;
  max-width: none;
}
@media (min-width: 768px) {
  .example__slider--before .example__image-before {
    width: 560px;
    height: 520px;
  }
}
.example__slider--after .example__image-after {
  left: 0;
  width: 280px;
  height: 256px;
  max-width: none;
}
@media (min-width: 768px) {
  .example__slider--after .example__image-after {
    width: 560px;
    height: 520px;
  }
}
.catalog__wrapper {
  box-sizing: border-box;
  padding-top: 27px;
  margin: 0 auto;
  width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding: 65px 30px 68px 30px;
    width: 768px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog__wrapper {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 74px;
  }
}
.catalog__wrapper::before {
  position: absolute;
  content: "";
  width: 10000%;
  height: 100%;
  border-top: 1px solid #d9d9d9;
  top: 0;
  left: -5000%;
}
@media (min-width: 768px) {
  .catalog__wrapper::before {
    display: none;
  }
}
.catalog__title {
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    margin-bottom: 84px;
    padding-left: 0;
    padding-right: 0;
  }
}
.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}
.catalog__item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 11px;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 768px) {
  .catalog__item {
    padding-left: 36px;
    padding-right: 36px;
    background-image: linear-gradient(to bottom, #ffffff 0 81px, #f2f2f2 81px);
    display: grid;
    grid-template-columns: 1fr;
    gap: 33px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    padding-left: 35px;
    padding-right: 30px;
  }
}
.catalog__pagination {
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog__pagination {
    padding-top: 81px;
    padding-bottom: 0;
    background-image: none;
    padding-left: 0;
    padding-right: 0;
  }
}
.catalog__item::before {
  position: absolute;
  content: "";
  width: 10000%;
  height: 100%;
  border-top: 1px solid #e6e6e6;
  top: 0;
  left: -5000%;
}
@media (min-width: 768px) {
  .catalog__item::before {
    display: none;
  }
}
.product-card__content-wrapper {
  display: flex;
}
@media (min-width: 768px) {
  .product-card__content-wrapper {
    display: block;
  }
}
.product-card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1440px) {
  .product-card__image {
    margin-bottom: 13px;
  }
}
.product-card__text-wrapper {
  flex-grow: 1;
}
.product-card__link {
  text-decoration: none;
}
@media (min-width: 768px) {
  .product-card__link {
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }
}
.product-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}
@media (min-width: 768px) {
  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 21px;
    margin-top: 0;
  }
}
.product-card__info {
  margin: 0;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .product-card__info {
    margin-bottom: 0;
  }
}
.product-card__info-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}
@media (min-width: 768px) {
  .product-card__info-wrapper {
    border-bottom: 1px solid #cdcdcd;
  }
}
.product-card__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  text-transform: none;
  text-align: start;
}
@media (min-width: 768px) {
  .product-card__description {
    font-size: 20px;
    line-height: 24px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.product-card__stats {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  text-transform: none;
  text-align: end;
}
@media (min-width: 768px) {
  .product-card__stats {
    font-size: 20px;
    line-height: 24px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.button-order {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #68B738;
  flex-grow: 1;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .button-order {
    margin-bottom: 39px;
  }
}
@media (min-width: 1440px) {
  .button-order {
    font-size: 20px;
    line-height: 21px;
    width: 168px;
    margin-bottom: 40px;
    flex-grow: 0;
  }
}
.pagination__wrapper {
  padding-top: 0;
  flex-grow: 1;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position-x: 50%;
  background-position-y: 0;
}
@media (min-width: 768px) {
  .pagination__wrapper {
    margin-bottom: 0;
    background-size: 60px 60px;
    background-position-x: 50%;
    background-position-y: 52px;
    border: 2px solid #f2f2f2;
    padding-left: 36px;
    padding-right: 36px;
  }
}
.pagination__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .pagination__title {
    margin-bottom: 23px;
  }
}
.pagination__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .pagination__text {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}
.pagination__show-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .pagination__show-text {
    font-size: 16px;
    line-height: 20px;
  }
}
.pagination__button-wrapper {
  display: flex;
}
@media (min-width: 768px) {
  .pagination__button-wrapper {
    margin-bottom: 0;
  }
}
.pagination__show-all {
  flex-grow: 1;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pagination__plus-button {
  width: 30px;
  height: 30px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .pagination__plus-button {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
}
.pagination__taste-text {
  display: none;
}
@media (min-width: 768px) {
  .pagination__taste-text {
    display: block;
  }
}
.pagination__show-100500 {
  display: none;
}
@media (min-width: 768px) {
  .pagination__show-100500 {
    display: block;
  }
}
.additional-card__title-main {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 36px;
  width: 320px;
}
@media (min-width: 768px) {
  .additional-card__title-main {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    margin-top: 0;
    border-bottom: none;
    padding-left: 30px;
    padding-right: 30px;
    width: 339px;
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .additional-card__title-main {
    margin-bottom: 81px;
    padding: 0;
  }
}
.additional-card__title-main::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 10000%;
  background-color: #68B738;
  left: 100%;
  top: 50%;
  z-index: -1;
  overflow: hidden;
}
@media (min-width: 768px) {
  .additional-card__title-main::after {
    width: 10000%;
    left: -5000%;
  }
}
.additional-card__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additional-card__title {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .additional-card__title {
    margin: 0;
    width: 287px;
  }
}
.additional-card__info {
  margin: 0;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .additional-card__info {
    margin: 0;
    margin-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .additional-card__info {
    margin: 0;
    margin-bottom: 15px;
  }
}
.additional-card__info-wrapper {
  display: flex;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .additional-card__info-wrapper {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-card__info-wrapper {
    display: flex;
    width: 298px;
    margin-right: auto;
  }
}
.additional-card__wrapper {
  border-top: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .additional-card__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 26px;
    padding-bottom: 28px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .additional-card__wrapper {
    display: grid;
    gap: 38px;
    grid-template-columns: auto auto auto;
    width: 894px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
  }
}
.additional-card__order {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .additional-card__order {
    width: 632px;
  }
}
@media (min-width: 1440px) {
  .additional-card__order {
    width: 244px;
  }
}
.additional-card {
  border-bottom: 1px solid #cdcdcd;
}
.additional-items {
  border-top: 1px solid #e6e6e6;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .additional-items {
    border: none;
  }
}
@media (min-width: 1440px) {
  .additional-items {
    margin-bottom: 0;
    width: 896px;
  }
}
.additional-items__wrapper {
  padding: 0;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .additional-items__wrapper {
    margin-bottom: 69px;
    padding-top: 0;
    width: 768px;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .additional-items__wrapper {
    border: none;
    margin: 0;
    width: auto;
    border-top: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .desktop-additional {
    position: relative;
    display: grid;
    gap: 80px;
    grid-template-columns: auto auto;
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    box-sizing: border-box;
    margin-bottom: 86px;
  }
}
.promo__block-text {
  position: relative;
  padding-bottom: 135px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .promo__block-text {
    order: 1;
    padding-bottom: 0;
  }
}
.promo__block-text::before {
  content: "";
  background-image: linear-gradient(to bottom, #69b738d9 0 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .promo__block-text::before {
    display: none;
  }
}
.promo__block-text::after {
  content: "";
  background-image: url("../img/cat-mobile.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-size: 320px auto;
  background-repeat: no-repeat;
  background-position-x: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo__block-text::after {
    background-image: url("../img/cat-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .promo__block-text::after {
    display: none;
  }
}
.promo {
  width: 100%;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .promo__wrapper {
    margin-top: 62px;
    position: relative;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 0;
    position: relative;
    padding-top: 111px;
  }
}
@media (min-width: 1440px) {
  .promo::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 694px;
    background-image: linear-gradient(to right, #69b738d9 50% 100%), url("../img/cat-desktop.jpg");
    background-repeat: no-repeat;
    background-position-x: 0;
    top: 0;
    left: 50%;
    z-index: -1;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .promo::before {
    background-image: linear-gradient(to bottom, #69b738d9 50% 100%), url("../img/cat-desktop@2x.jpg");
  }
}
.promo__pick-program {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  display: block;
  text-decoration: none;
  border: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promo__pick-program {
    margin-left: 120px;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 11px;
    padding-bottom: 11px;
    display: block;
    text-decoration: none;
    border: none;
  }
}
.promo__title {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 35px 25px 35px;
  margin: 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding: 0;
    text-align: start;
    margin-bottom: 41px;
    margin-left: 73px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    margin-bottom: 40px;
    width: 450px;
  }
}
.promo__subtitle {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 29px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .promo__subtitle {
    text-align: start;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 73px;
    margin-bottom: 20px;
  }
}
.promo__image {
  margin-bottom: 3px;
  display: block;
  margin-top: -150px;
}
@media (min-width: 768px) {
  .promo__image {
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    width: 552px;
    height: 499px;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .promo__block-image {
    order: 3;
  }
}
@media (min-width: 1440px) {
  .promo__block-image {
    width: 552px;
    order: 2;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}
@media (min-width: 768px) {
  .promo__block-button {
    order: 2;
    z-index: 3;
  }
}
@media (min-width: 1440px) {
  .promo__block-button {
    order: 3;
  }
}
.button-green {
  background-color: #68B738;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  display: block;
  text-decoration: none;
  border: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .button-green {
    width: 244px;
    padding-top: 14px;
    padding-bottom: 14px;
    top: 230px;
    left: -20px;
  }
}
@media (min-width: 1440px) {
  .button-green {
    top: 342px;
    left: 60px;
  }
}
@media (min-width: 1440px) {
  .special-offer {
    margin-top: 116px;
  }
}
.special-offer__wrapper {
  width: 280px;
  min-height: 290px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0 100%), url("../img/cat-catalog.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .special-offer__wrapper {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0 100%), url("../img/cat-catalog@2x.jpg");
  }
}
@media (min-width: 768px) {
  .special-offer__wrapper {
    width: 707px;
    display: flex;
    justify-content: center;
    min-height: 200px;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0 100%), url("../img/cat-catalog-tablet.jpg");
    background-size: contain;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .special-offer__wrapper {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0 100%), url("../img/cat-catalog-tablet@2x.jpg");
  }
}
@media (min-width: 1440px) {
  .special-offer__wrapper {
    min-height: 288px;
    width: 245px;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0 100%), url("../img/cat-catalog-desktop.jpg");
    background-size: contain;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .special-offer__wrapper {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0 100%), url("../img/cat-catalog-desktop@2x.jpg");
  }
}
.special-offer__title {
  margin: 0;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding-top: 0;
}
@media (min-width: 768px) {
  .special-offer__title {
    text-align: start;
    left: 422px;
  }
}
@media (min-width: 1440px) {
  .special-offer__title {
    text-align: center;
    left: 50%;
  }
}
.special-offer__wrapper::before {
  content: "";
  position: absolute;
  background-image: url("../img/present.svg");
  background-position: no-repeat;
  background-size: 78px 80px;
  width: 78px;
  height: 80px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .special-offer__wrapper::before {
    top: 50%;
    transform: translateY(-50%);
    left: 77px;
  }
}
@media (min-width: 1440px) {
  .special-offer__wrapper::before {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.special-offer__img-tablet {
  display: none;
}
@media (min-width: 768px) {
  .special-offer__img-tablet {
    display: inline-block;
  }
}
@media (min-width: 1440px) {
  .special-offer__img-tablet {
    display: none;
  }
}
.special-offer__img {
  display: inline-block;
}
@media (min-width: 768px) {
  .special-offer__img {
    display: none;
  }
}
@media (min-width: 1440px) {
  .special-offer__img {
    display: inline-block;
  }
}
.program-pick__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .program-pick__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .program-pick__title {
    margin-bottom: 56px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.program-pick__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .program-pick__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 54px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .program-pick__subtitle {
    margin-bottom: 66px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.program-pick__wrapper {
  padding: 0;
  padding-top: 27px;
  box-sizing: border-box;
  width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .program-pick__wrapper {
    border: none;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 72px;
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .program-pick__wrapper {
    border: none;
    padding: 0;
    width: 1440px;
    padding-top: 73px;
  }
}
.program-pick__wrapper::after {
  content: "";
  height: 100%;
  width: 10000%;
  left: -5000px;
  top: 0;
  position: absolute;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .program-pick__wrapper::after {
    display: none;
  }
}
.program-pick__submit-wrapper {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .program-pick__submit-wrapper {
    display: grid;
    grid-template-columns: 282px auto;
    gap: 61px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .program-pick__submit-wrapper {
    grid-template-columns: 568px auto;
    gap: 81px;
    margin-bottom: 82px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.program-pick__submit-button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 21px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .program-pick__submit-button {
    width: 282px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .program-pick__submit-button {
    width: 568px;
  }
}
.program-pick__required-field {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .program-pick__required-field {
    font-size: 16px;
    line-height: 16px;
    text-align: start;
    align-self: center;
  }
}
@media (min-width: 1440px) {
  .program-pick__required-field {
    text-align: start;
  }
}
.form__group {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0;
}
@media (min-width: 768px) {
  .form__group {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
}
.form__caption-text {
  padding-right: 13px;
}
::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.form__group-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  padding-bottom: 24px;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .form__group-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0;
    width: 100%;
    margin-bottom: 72px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .form__group-wrapper {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .form__desktop {
    width: 630px;
  }
}
@media (min-width: 1440px) {
  .form__desktop {
    display: grid;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 65px;
  }
}
.field {
  border: 1px solid #e7e7e7;
  height: 45px;
  box-sizing: border-box;
  padding: 0;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .field {
    height: 52px;
    padding-left: 20px;
  }
}
.field:hover {
  border: 1px solid #cdcdcd;
}
.field:focus {
  outline: 2px solid #444444;
}
.form-radio {
  border: none;
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  position: relative;
}
@media (min-width: 768px) {
  .form-radio {
    margin-top: 0;
    margin-bottom: 71px;
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1440px) {
  .form-radio {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
    margin: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.form-radio::after {
  content: "";
  height: 100%;
  width: 10000%;
  left: -5000px;
  top: 0;
  position: absolute;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form-radio::after {
    display: none;
  }
}
.form-radio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}
@media (min-width: 1440px) {
  .form-radio__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
  }
}
@media (min-width: 1440px) {
  .form-radio__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.form-radio__input-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  padding-top: 6px;
  padding-bottom: 6px;
}
@media (min-width: 768px) {
  .form-radio__input-text {
    font-size: 20px;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.form-radio__control-radio {
  position: relative;
  display: block;
  padding-left: 50px;
}
.form-radio__control-radio:hover .form-radio__real-input {
  border: 1px solid #BABABA;
}
.form-radio__control-radio:active .form-radio__real-input {
  border: 1px solid #BABABA;
  opacity: 0.3;
}
.form-radio__control-radio:active .form-radio__input-text {
  opacity: 0.3;
}
.form-radio__real-input {
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form-radio__real-input {
    width: 40px;
    height: 40px;
  }
}
.form-radio__input-radio[type="radio"]:checked + .form-radio__real-input::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background-color: #68B738;
  top: 7px;
  left: 7px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form-radio__input-radio[type="radio"]:checked + .form-radio__real-input::before {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}
.contacts-form {
  position: relative;
  width: 320px;
  padding-top: 26px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .contacts-form {
    padding: 0;
    width: 100%;
    margin-bottom: 65px;
  }
}
.contacts-form::after {
  content: "";
  height: 100%;
  width: 10000%;
  left: -5000px;
  top: 0;
  position: absolute;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .contacts-form::after {
    display: none;
  }
}
.contacts-form__tel-form-field {
  padding-right: 40px;
}
@media (min-width: 768px) {
  .contacts-form__tel-form-field {
    background-position-x: 490px;
  }
}
@media (min-width: 1440px) {
  .contacts-form__tel-form-field {
    background-position-x: 440px;
  }
}
.contacts-form__form-group {
  position: relative;
}
.contacts-form__icon {
  position: absolute;
  right: 20px;
}
.contacts-form__email-form-field {
  padding-right: 40px;
}
@media (min-width: 768px) {
  .contacts-form__email-form-field {
    background-position-x: 510px;
  }
}
@media (min-width: 1440px) {
  .contacts-form__email-form-field {
    background-position-x: 450px;
  }
}
.contacts-form__caption-text {
  padding-right: 8px;
}
@media (min-width: 768px) {
  .contacts-form__caption-text {
    padding-right: 14px;
  }
}
@media (min-width: 1440px) {
  .contacts-form__caption-text {
    padding-right: 14px;
  }
}
.contacts-form__contacts-title {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
  width: 187px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .contacts-form__contacts-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    width: 630px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .contacts-form__contacts-title {
    padding-left: 110px;
    padding-right: 110px;
    width: 1220px;
  }
}
.contacts-form__contacts-title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 10000%;
  background-color: #68B738;
  left: 100%;
  top: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .contacts-form__contacts-title::after {
    width: 10000%;
    left: -5000%;
  }
}
.contacts-form__contacts-wrapper {
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr;
  margin-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .contacts-form__contacts-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    margin: 0;
    width: 630px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .contacts-form__contacts-wrapper {
    display: grid;
    gap: 78px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 69px;
    padding-left: 110px;
    padding-right: 110px;
    width: 1220px;
  }
}
@media (min-width: 768px) {
  .note-form {
    margin-bottom: 65px;
  }
}
.note-form__field {
  height: 150px;
  width: 100%;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .note-form__field {
    height: 174px;
  }
}
@media (min-width: 1440px) {
  .note-form__field {
    height: 174px;
  }
}
.note-form__note-title {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 38px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .note-form__note-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding: 0;
  }
}
.note-form__note-title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 10000%;
  background-color: #68B738;
  left: 100%;
  top: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .note-form__note-title::after {
    width: 10000%;
    left: -5000%;
  }
}
.note-form__form-group {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}
@media (min-width: 768px) {
  .note-form__form-group {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .note-form__form-group {
    margin-bottom: 0;
  }
}
.note-form__note-wrapper {
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .note-form__note-wrapper {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .note-form__note-wrapper {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 67px;
  }
}
.checkbox-form {
  padding-bottom: 34px;
  margin: 0;
  border: none;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .checkbox-form {
    margin-bottom: 54px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .checkbox-form {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 61px;
  }
}
.checkbox-form__title {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 34px;
  background-color: #ffffff;
  position: relative;
}
@media (min-width: 768px) {
  .checkbox-form__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 57px;
  }
}
.checkbox-form__title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 10000%;
  background-color: #68B738;
  left: 100%;
  top: 50%;
  z-index: -1;
}
@media (min-width: 768px) {
  .checkbox-form__title::after {
    width: 10000%;
    left: -5000%;
  }
}
.checkbox-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}
@media (min-width: 768px) {
  .checkbox-form__list {
    grid-template-columns: 1fr 1fr;
    gap: 32px 0;
  }
}
@media (min-width: 1440px) {
  .checkbox-form__list {
    grid-template-columns: auto auto auto auto;
    gap: 104px;
  }
}
.checkbox-form__input-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .checkbox-form__input-text {
    font-size: 20px;
    line-height: 30px;
  }
}
.checkbox-form__control-checkbox {
  position: relative;
  display: block;
  padding-left: 50px;
}
.checkbox-form__real-input {
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .checkbox-form__real-input {
    width: 40px;
    height: 40px;
  }
}
.checkbox-form__control-checkbox:hover .checkbox-form__real-input {
  border: 1px solid #BABABA;
}
.checkbox-form__control-checkbox:active .checkbox-form__real-input {
  border: 1px solid #BABABA;
  opacity: 0.3;
}
.checkbox-form__control-checkbox:active .checkbox-form__input-text {
  opacity: 0.3;
}
.checkbox-form__input-checkbox[type="checkbox"]:checked + .checkbox-form__real-input::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 18px 14px;
}
@media (min-width: 768px) {
  .checkbox-form__input-checkbox[type="checkbox"]:checked + .checkbox-form__real-input::before {
    background-size: 24px 19px;
  }
}
.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
