.checkbox-form {
  padding: 0;
  margin: 0;
  border: none;
}

.checkbox-form__title {
  .titles-weight;
  .form-subtitles-font;
}

.checkbox-form__list {
  .list-style;
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}

.checkbox-form__input-text {
  .input-text;
}
