.field {
  .form-border;
  height: 45px;
  box-sizing: border-box;
  padding: 0;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: @tablet-width) {
    height: 52px;
    padding-left: 20px;
  }
}
