.form__group {
  .form-group-text;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.form__caption-text {
  padding-right: 13px;
}
//неправильный текст
::placeholder {
  .form-group-text;
}
