//как сделать перенос плейсхолдера на другую строку?
.note-form__field {
  height: 150px;
}

.note-form__note-title {
  .titles-weight;
  .form-subtitles-font;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    .main-title;
    margin-bottom: 76px;
  }
}

.note-form__form-group {
  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}
