.program-pick__title {
  .font-main;
  .titles-weight;
  .main-title;
  margin: 0;
}

.program-pick__subtitle {
  .font-main;
  .form-items-subtitle;
}

.program-pick__wrapper {
  padding: 27px 20px 32px 20px;
  border-top: 1px solid @darkgray;
}

.program-pick__submit-wrapper {
  display: flex;
  margin-top: 34px;
  margin-bottom: 21px;
}

.program-pick__submit-button {
  flex-grow: 1;
}

.program-pick__required-field {
  .paragraph-font;
  .small-text;
}
