.features__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 49px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
    .tablet-width;
  }


  @media (min-width: @desktop-width) {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    gap: 32px;
  }
}

.features__br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  .titles-weight;

  @media (min-width: @tablet-width) {
    .main-title-tablet;
  }
}

.features__list {
  .list-style;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 153px;
    counter-reset: section;
  }


  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 94px;
  }
}

.features__items::before {
  @media (min-width: @tablet-width) {
    counter-increment: section;
    content: counter(section) " ";
    color: @basicgray;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
    height: 280px;
    width: min-content;
    position: absolute;
    .font-main;
    right: 0;
  }
}

.features__items {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  .paragraph-style;
  .paragraph-font;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto;
    gap: 31px;
    .paragraph-font-tablet;
    padding-bottom: 57px;
    padding-top: 40px;
    position: relative;
  }
}

.features__items-icon {
  fill: @white;
}

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: @green;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}
