.features__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  //class
  margin: 0 auto;
  margin-bottom: 49px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
    border-bottom: 1px solid @border-header;
    .tablet-width;
  }


  @media (min-width: @desktop-width) {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  .titles-weight;

  @media (min-width: @tablet-width) {
    .main-title-tablet;
  }
}

.features__list {
  .list-style;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 137px;
  }


  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 94px;
  }
}


.features__items {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  .paragraph-style;
  .paragraph-font;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto;
    gap: 31px;
    .paragraph-font-tablet;
    padding-bottom: 57px;
    padding-top: 40px;
  }
}

.features__items-icon {
  fill: @white;
}

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: @green;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}
