.logo-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-right: auto;
  }
}

.logo-footer__link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 19px;
  padding-bottom: 8px;
}
