.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  background-color: @white;
  color: @black;
}

.main-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
}

.main-footer__social {
  padding: 20px 74px 21px 74px;
}

.main-footer__logo-wrapper {
  padding: 39px 76px 32px 76px;
}

.main-footer__logo-link {
  display: block;
}

