.social {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.social__list {
  .list-style;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.link-style() {
  text-decoration: none;
  color: #000000;
}

.social__link {
  .link-style;
}
