.additional-items__wrapper {
  padding: 25px 20px 0 20px;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
    margin-bottom: 69px;
    padding-top: 0;
  }

  @media (min-width: @tablet-width) {
    width: 896px;
    padding-top: 0;
  }
}
