.additional-card__title-main {
  .font-main;
  .titles-weight;
  margin-top: 25px;
  padding-bottom: 36px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    .main-title;
    margin-bottom: 80px;
    margin-top: 0;
    border-bottom: none;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 81px;
    width: 100%;
    padding: 0;
  }
}

.additional-card__title {
  margin-top: 0;
  margin-bottom: 13px;
  .titles-weight;
  .additional-items-subtitle;

  @media (min-width: @tablet-width) {
    .promo-subtitle-tablet;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.additional-card__info {
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 15px;
  }
}

.additional-card__info-wrapper {
  display: flex;
  .paragraph-font;
  color: @lightblack;
  .additional-items-text;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    .special-offer-paragraph;
  }
}

.additional-card__wrapper {
  border-bottom: 1px solid @special-grey;
  padding-top: 13px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 26px;
    padding-bottom: 28px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 894px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
  }
}

.additional-card__order {
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}
