.additional-card__title-main {
  .font-main;
  .titles-weight;
}

.additional-card__title {
  .titles-weight;
  .additional-items-subtitle;
}

.additional-card__info-wrapper {
  display: flex;
  .paragraph-font;
  color: @lightblack;
  .additional-items-text;
  justify-content: space-between;
}

.additional-card__wrapper {
  margin-bottom: 35px;
}
