.special-offer__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 707px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: @tablet-width) {
    width: 250px;
  }
}

.special-offer__title {
  margin: 0;
  color: @white;
  .paragraph-font;
  text-align: center;
  .special-offer-paragraph;
  //class
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.special-offer__img-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.special-offer__img {
  display: inline-block;

  @media (min-width: @tablet-width) {
    display: none;
  }

  //скрыть потом

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
