.special-offer {
  @media (min-width: @desktop-width) {
    margin-top: 116px;
  }
}

.special-offer__wrapper {
  width: 280px;
  height: 290px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(to bottom,
      rgba(104, 183, 56, 0.85) 0 290px,
      @white 290px),
    url("../img/cat-catalog.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: @black;

  @media (min-width: @tablet-width) {
    width: 707px;
    display: flex;
    justify-content: center;
    height: 200px;
    background-image: linear-gradient(to bottom,
        rgba(104, 183, 56, 0.85) 0 200px,
        @white 200px),
      url("../img/cat-catalog-tablet.jpg");
    background-size: contain;
  }

  @media (min-width: @desktop-width) {
    height: 288px;
    width: 245px;
    background-image: linear-gradient(to bottom,
        rgba(104, 183, 56, 0.85) 0 288px,
        @white 288px),
      url("../img/cat-catalog-desktop.jpg");
    background-size: contain;
  }
}

.special-offer__title {
  margin: 0;
  color: @white;
  .paragraph-font;
  text-align: center;
  .special-offer-paragraph;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) {
    text-align: start;
    left: 422px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    left: 50%;
  }
}

.special-offer__img-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.special-offer__img {
  display: inline-block;

  @media (min-width: @tablet-width) {
    display: none;
  }

  //скрыть потом

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
