.special-offer__wrapper {
  //поидее это декор изображение, но из-за того что блок маленький мне искустенно паддингами приходится его увеличить, я бы лучше сделала в разметку изображение, можно?
  background-image: url("/img/cat-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 99px;
  padding-bottom: 99px;
}

.special-offer__title {
  margin: 0;
  color: @white;
  .paragraph-font;
  text-align: center;
  .special-offer-paragraph;
}
