.button-open-catalog {
  display: block;
  text-decoration: none;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 50%;

  @media (min-width: @tablet-width) {
    background-position-x: 133px;
  }
}
