.programs__wrapper {
  width: 280px;
  margin: 0 auto;
  background-color: @basicgray;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  .titles-weight;
}

.programs__text {
  box-sizing: border-box;
  border-bottom: 1px solid @darkgray;
  margin: 0;
  padding-bottom: 23px;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  .paragraph-font;
  .paragraph-style;
}

.programs__button {
  text-align: start;
  display: block;
  padding-top: 15px;
  padding-bottom: 18px;
}
