.partnership {
  position: relative;
  width: 100%;
}

.partnership--background {
  position: relative;
}

.partnership--background::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: @basicgray;
  top: 0;
  left: 0;
  z-index: -1;
}

.partnership__map-google {
  border: none;
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.partnership__wrapper {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 26px;
  padding-bottom: 26px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 24px;
  gap: 2;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    .tablet-width;
    padding: 56px 70px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 565px;
    box-sizing: border-box;
    padding: 56px 80px;
    background-color: @white;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
  }
}


.partnership__lead {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @almost-black;
  margin: 0;

  @media (min-width: @tablet-width) {
    .font-partnership;
  }
}

.partnership__address-wrapper {
  display: grid;
  grid-template-columns: auto;
  justify-content: end;
}

.partnership__address {
  font-size: 14px;
  line-height: 20px;
  .paragraph-style-partnership;
  .paragraph-font;
  color: @lightblack;

  @media (min-width: @tablet-width) {
    .special-offer-paragraph;
    text-align: end;
  }
}

.partnership__map {
  display: block;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.partnership__images-wrapper {
  display: flex;
  justify-content: center;
}
