.button-green {
  background-color: @green;
  width: 280px;
  .green-button;

  @media (min-width: @tablet-width) {
    width: 244px;
    padding-top: 14px;
    padding-bottom: 14px;
    position: absolute;
    top: 230px;
    left: -20px;
  }

  @media (min-width: @desktop-width) {
    top: 342px;
    left: 60px;
  }
}
