//переделать на миксин
.button-open-catalog {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
}
