.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom,
      #69b738d9 0 302px,
      @white 302px),
    url("../img/cat-mobile.jpg");
  background-repeat: no-repeat;
  //класс
  margin: 0 auto;
  margin-bottom: 20px;
  width: 320px;

  @media (min-width: @tablet-width) {
    background-image: none;
    display: block;
    margin-top: 62px;
    position: relative;
    margin-bottom: 0;
    .tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 0;
  }
}

.promo__pick-program {
  .green-button;

  @media (min-width: @tablet-width) {
    margin-left: 120px;
    .green-button-tablet;
  }
}

.promo__title {
  text-align: center;
  .text-color-promo;
  .titles-weight;
  .main-title;
  padding: 27px 35px 25px 35px;
  margin: 0;

  @media (min-width: @tablet-width) {
    .main-title-tablet;
    color: @black;
    padding: 0;
    text-align: start;
    margin-bottom: 41px;
    margin-left: 117px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.promo__subtitle {
  .text-color-promo;
  text-align: center;
  text-transform: uppercase;
  .additional-items-text;
  margin: 0;
  //добавить класс отдельный
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    text-align: start;
    color: @black;
    .promo-subtitle-tablet;
    margin-left: 119px;
    margin-bottom: 20px;
  }
}
//переместить на класс
.promo__image {
  margin-bottom: 3px;
  display: inline-block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.promo__image-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin: 0 auto;
  }
}
